p{
    background-color: aquamarine;
}

a{
    background-color: blanchedalmond;
}

span{
    background-color: blueviolet;
}

div{
    background-color: rgb(183, 42, 141);
}

h1, h2, h3, h4, h5, h6{
    background-color: brown;
}

form{
    background-color: bisque;
}
