@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: black;
}

.main{
    background-image: url(assets/images/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 99vh;
    position: relative;
}

.main .box{
    position: absolute;
    height: 99vh;
    width: 100%;
    background-color: black;
    opacity: 0.6;
    top: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 69vw;
    margin: auto;
    height: 62px;
    padding: 23px 0;
}

nav img{
    color: #e50914;
    width: 148px;
    position: relative;
    z-index: 10;
}

nav button{
    position: relative;
    z-index: 10;
}

.tex{
    font-family: 'Martel Sans', sans-serif;
     height: calc(100% - 62px); /*height taken by .tex is 100% of its parent + 62px of nav, so we subtract them to get .line below .tex area */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    position: relative;
    gap: 23px;
    padding:0 30px;
}

.tex > :first-child{
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}

.tex > :nth-child(2){
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.tex > :nth-child(3){
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.line{
    height: 7px;
    background-color: #232323;
    z-index: 11;
    position: relative;
}

.btn{
    padding: 3px 10px;
    color: white;
    /* font-weight: bold; */
    background-color: rgba(23, 23, 23, 0.6);
    border: 1px solid rgba(236, 226, 226, 0.5);
    border-radius: 4px;
}

.btn-red-si{
    background-color: red;
    cursor: pointer;
}
.btn-red-si:hover{
    background-color: rgb(225, 7, 7);
    transition: 0.3s;
}

.btn-red{
    background-color: rgb(220, 20, 20);
    padding: 3px 26px;
    font-size: 25px;
    cursor: pointer;
}

.btn-red:hover{
    background-color: rgb(183, 15, 15);
    transition: 0.3s;
}

.inputf{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.main input, .lasE input{
    padding: 11px 150px 8px 12px;
    color: white;
    border-radius: 4px;
    font-size: 1rem;
    background-color: rgba(23, 23, 23, 0.6);

    border: 1px solid rgba(236, 226, 226, 0.5);
}

.first{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    color: white;
}

@media screen and (max-width: 1170px){
    nav{
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
    }

    .first> :nth-child(1) {
        font-size: 32px;
    }

    .first> :nth-child(2) {
        font-size: 18px;
    }

    .first> :nth-child(3) {
        font-size: 18px;
    }
}

.secImg{
    position: relative;
}
.secImg img{
    position: relative;
    z-index: 10;
    width: 555px;
    margin-top: 7px;
}
.secImg video{
    position: absolute;
    top: 94px;
    right: 0;
    left: 74px;
    
}

.secImg > .vid2{
    top: 42px;
    right: 12px;
    left: 103px;
    width: 341px;
}

.first > div{
    display: flex;
    flex-direction: column;
}
.first > div :first-child{
    font-size: 48px;
    font-weight: 900;
}
.first > div :nth-child(2){
    font-size: 24px;
}

h2{
    font-size: 48px;
    text-align: center;
    color: white;
    padding-top: 72px;
    padding-bottom: 15px;
}
.faqbox{
    display: flex;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 10px auto;
    justify-content: space-between;
    color:white;
    font-style: sans-serif;
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.faqbox:hover{
    background-color: #3d3d3d;
}

.faqbox svg{
    filter: invert(1); /*invert(1) is used to invert the color of svg image || black -> white & white -> black*/
}

.lasE{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    position: relative;
    gap: 23px;
    padding:0 30px;
    margin: 31px 0;
}

.lasE > :first-child{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

footer{
    color:rgba(255, 255, 255, 0.7);
    max-width: 60vw;
    margin: 48px auto;
    font-size: 14px;
}

footer span{
    padding-left: 16px;
}

.footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer-items{
    display: flex;
    flex-direction: column;
}

footer a{
    color: rgba(255, 255, 255, 0.7);
    margin: 16px 0 0 16px;
}

footer .btn{
    margin: 20px 0px 20px 16px;
}

footer .ind{
    margin-left: 16px;
}